@charset "UTF-8";

header{
	color:white;
}
.header{
	position:relative;
}

.header:before{
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	background-color:#252428;
	opacity:0.9;
	z-index:-1;
}



/* add */
label {
	display:inline-block;
}